<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
  <form method="POST" action="/display_puppy">
      <label for="phrase">Click Here To List A Puppy</label>
      <input type="text" id="name" name='puppy'>
      <input type="submit">
    </form>
  </body>    