<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Welcome. </h1>
    <h2>Click Here To List A Puppy</h2>
    <form method="POST" action="/piglatinize">
      <label for="phrase">Enter your phrase:</label>
      <input type="text" id="phrase" name='user_phrase'>
      <input type="submit">
    </form>
  </body>
</html>